body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;

}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid white;
    cursor: pointer;
    background-color: gray;
    color: white;
    font-weight: bold;
    line-height: 100px;
    font-size: 30px;
}



.game--restart{
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: cyan;
    color: black;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid black;
}

.game--restart:hover{
    cursor: pointer;
    background-color: darkcyan;
    color: white;
}


.game--title{
    border: 2px solid black;
    justify-content: center;
    
}